﻿@page
@model Visits.Pages.ModifyVisitModel
@{
}

<h1>Modify your Visit</h1>

<a>@Model.visit.Name</a>
<a>@Model.visit.StartDate</a>
<a>@Model.visit.EndDate</a>

<form id="modifyForm" method="post" asp-page-handler="Update" asp-route-id="@Model.visit">
    <table>
        <tr>
            <td>
                <a>Name :</a>
            </td>
            <td>
                <input name="Name" value="@Model.visit.Name">
            </td>
        </tr>
        <tr>
            <td>
                <a>Start date :</a>
            </td>
            <td>
                <input name="StartDate" value=@Model.visit.getStartDateDisplay() type="date">
            </td>
        </tr>
        <tr>
            <td>
                <a>End Date :</a>
            </td>
            <td>
                <input name="EndDate" value=@Model.visit.getEndDateDisplay() type="date">
            </td>
        </tr>
        <tr>
            <td>
                <a>Comment :</a>
            </td>
            <td>
                <input name="Comment" value="@Model.visit.Comment" type="text">
            </td>
        </tr>
    </table>
    <input name="Id" value=@Model.visit.Id type="hidden">
    <button class="btn btn-danger" form="modifyForm">Modify</button>
</form>
<table>
    @foreach (var photo in Model.visit.PhotoList)
    {
        <tr>
            <td>
                <a>Photo n°@(Model.visit.PhotoList.IndexOf(@photo)+1) :</a>
            </td>
            <td>
                <img src="/Photos/@photo" alt="Photo n° @Model.visit.PhotoList.IndexOf(@photo)" style="height: 300px;">
            </td>
            <td>
                <a asp-page="ModifyVisit" asp-page-handler="DeletePhoto" asp-route-visitId=@Model.visit.Id asp-route-photo=@photo>Delete</a>
            </td>
        </tr>
    }
</table>
<form method="post" enctype="multipart/form-data" asp-page-handler="AddPhoto" asp-route-visitId=@Model.visit.Id>
    <input type="file" asp-for="UploadPhoto"/>
    <input type="hidden" value=@Model.visit.Id name="Id"/>
    <input type="submit"/>
</form>
