﻿@page
@using VisitList.Models
@model Visits.Pages.VisitsModel
@{
     ViewData["Title"] = "Visit List";
}

<h1>Visit List</h1>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Comment</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
            <th scope="col">Photo</th>
        </tr>
    </thead>
    @foreach (var visit in Model.visitList)
    {
        <tr style="vertical-align: middle;">
            <td>@visit.Name</td>
            <td>@Model.StartDateText(visit)</td>
            <td>@Model.EndDateText(visit)</td>
            <td>@visit.Comment</td>
            <td>
                <form method="post" asp-page-handler="Update" asp-route-id="@visit.Id">
                    <button class="btn btn-danger">Modify</button>
                </form>
            </td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@visit.Id">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                @if(@visit.PhotoList.Count() > 0){
                    <img src="/Photos/@visit.PhotoList[0]" alt="Image" style="height: 150px; border-radius: 25%;">
                }
            </td>
        </tr>
    }
</table>